################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/1.Básica/code/bin/Debug/netcoreapp3.1
/1.Básica/code/obj
/1.Básica/code/.vs/MasterMind
/.vs
/1.Basic/code/.vs/MasterMind
/1.Basic/code/bin/Debug/netcoreapp3.1
/1.Basic/code/obj
/2.DocumentView - Console/code/obj
/2.DocumentView - Console/code/bin
/2.DocumentView - Console/code/.vs/MasterMind/v16
/2.DocumentView - Console/diagrams/.idea
/2.DocumentView - WithOutFactoryMethod/diagrams/.idea
/2.DocumentView - WithOutFactoryMethod/code/.vs
/2.DocumentView - WithOutFactoryMethod/code/obj
/2.DocumentView - WithFactoryMethod/diagrams/.idea
/2.DocumentView - WithFactoryMethod/code/.vs
/2.DocumentView - WithFactoryMethod/code/bin/Debug/netcoreapp3.1
/2.DocumentView - WithFactoryMethod/code/obj
/1.DomainModel - Basic/code/obj
/1.DomainModel - Basic/code/bin/Debug/netcoreapp3.1
/1.DomainModel - Basic/code/.vs/MasterMind
/1.DomainModel - Basic/diagrams/.idea
/2.1.DocumentView - Console/code/.vs/MasterMind/v16
/2.1.DocumentView - Console/code/bin
/2.1.DocumentView - Console/code/obj
/2.1.DocumentView - Console/diagrams/.idea
/2.2.DocumentView - WithOutFactoryMethod/code/.vs
/2.2.DocumentView - WithOutFactoryMethod/code/obj
/2.2.DocumentView - WithOutFactoryMethod/diagrams/.idea
/2.3.DocumentView - WithFactoryMethod/code/.vs
/2.3.DocumentView - WithFactoryMethod/code/bin/Debug/netcoreapp3.1
/2.3.DocumentView - WithFactoryMethod/code/obj
/2.3.DocumentView - WithFactoryMethod/diagrams/.idea
/3.1.ModelViewPresenter - PresentationModel - Basic/code/.vs
/3.1.ModelViewPresenter - PresentationModel - Basic/code/bin/Debug/netcoreapp3.1
/3.1.ModelViewPresenter - PresentationModel - Basic/code/obj
/3.1.ModelViewPresenter - PresentationModel - Basic/diagrams/.idea
/3.2.ModelViewPresenter - PresentationModel - WithFacade/diagrams/.idea
/3.2.ModelViewPresenter - PresentationModel - WithFacade/code/.vs
/3.2.ModelViewPresenter - PresentationModel - WithFacade/code/bin/Debug/netcoreapp3.1
/3.2.ModelViewPresenter - PresentationModel - WithFacade/code/obj
/3.3.ModelViewPresenter - PresentationModel - WithoutDoubleDispatching/code/.vs
/3.3.ModelViewPresenter - PresentationModel - WithoutDoubleDispatching/code/bin/Debug/netcoreapp3.1
/3.3.ModelViewPresenter - PresentationModel - WithoutDoubleDispatching/code/obj
/3.3.ModelViewPresenter - PresentationModel - WithoutDoubleDispatching/diagrams/.idea
